Dashboard here!

<div class='help-requests'>
  <% @help_requests.each do |help_request| %>
    <div class='help-request'>
      <li><%= help_request.name             %></li>
      <li><%= help_request.description      %></li>
      <li><%= help_request.status           %></li>
      <li><%= help_request.user.full_name %></li>
      <%= link_to 'Accept Task', help_request_path(help_request), method: :put %>

      <!-- <%= link_to image_tag('/images/imgname.png'), 'tasks/accept', method: :put %> -->
    </div>
  <% end %>
</div>

<h3>Create New</h3>

<%= simple_form_for(@help_request) do |f| %>
  <%= f.input :name, label: "Request Summary" %>
  <%= f.input :description, label: "Description" %>
  <%= f.button :submit, 'Create!' %>
<% end %>