<div class='help-requests'>
  <% @help_requests.each do |help_request| %>
    <div class='help-request'>
      <li><%= help_request.name             %></li>
      <li><%= help_request.description      %></li>
      <li><%= help_request.status           %></li>
      <li><%= help_request.user.full_name %></li>
    </div>
  <% end %>
</div>

<h3>Create New</h3>

<%= form_for(@help_request) do |f| %>
  <%= f.text_field :name, label: "Request Summary" %>
  <%= f.text_field :description, label: "Description" %>
  <%= f.submit %>
<% end %>