<h2>
  Open Help Requests
</h2>
<p class='help-request'>
  Help requests are submitted by sending texts to (470) - HelpNet, i.e. 470-435-7638. When a help request is accepted here, the person who sent it receives a text that their help request has been accepted.
</p>

<div class='help-requests'>
  <% @help_requests.each do |help_request| %>
    <%== "<div class='help-request left status-#{help_request.status}'>" %>
      <div class='task-section title-section left'>
        <div class='left title'><%= help_request.name %></div>
        <% if help_request.user %>
          <div class='left user-name'> - <%= help_request.user.full_name %></div>
        <% end %>
        <div class='datetime'><%= help_request.created_at.strftime("%I:%M %p %A, %B %d") %></div>
      </div>
      <div class='task-section left'>
        <p><%= help_request.description %></p>

        <% if help_request.status == 'new' %>
          <%= link_to image_tag('acceptusertask_btn.png'), help_request_path(help_request), method: :put %>
        <% end %>
      </div>
      <!-- <%= link_to image_tag('/images/imgname.png'), 'tasks/accept', method: :put %> -->
    </div>
  <% end %>
</div>